# Archivos de compilación
bin/
obj/

# Archivos temporales
*.user
*.suo
*.cache
*.log
*.vscode/
.vs/

# Dependencias NuGet
packages/

# Archivos de compilación generados
*.dll
*.exe
*.pdb
*.dll.config

# Archivos de análisis
*.xml
*.json
*.csv

# Otros archivos generados por IDEs
*.ide

# Archivos de respaldo y temporales
*~
